* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
  color: var(--text-color);
}

:root {
  --text-color: #ccc;
  --bg-url: url("./assets/bg-mobile.jpg");
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0);
  --highline-color: rgba(255, 255, 255, 0.8);
  --switch-bg: url("./assets/moon-stars.svg");
}

.light {
  --text-color: #000;
  --bg-url: url("./assets/bg-mobile-light.jpg");
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.1);
  --highline-color: rgba(0, 0, 0, 0.8);
  --switch-bg: url("./assets/sun.svg");
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

.container {
  padding: 0 24px;
  display: flex;
  width: auto;
  max-width: 588px;
  flex-direction: column;
  align-items: center;
  margin: 56px auto;
}

.profile {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profile img {
  width: 112px;
}

.profile p {
  font-weight: bold;
}

.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
.switch button {
  width: 32px;
  height: 32px;
  border: none;

  border-radius: 50%;
  background: white var(--switch-bg) no-repeat center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

.light .switch button {
  right: 0;
  left: initial;
  cursor: pointer;
}

.links {
  color: currentColor;
  width: 100%;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
}
.links ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.links li a {
  padding: 16px 24px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  transition: background 0.5s;
}

.links li a:hover {
  padding: 16px 24px;
  border: 2px solid var(--highline-color);
  background: var(--surface-color-hover);
}

.social-media {
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media ion-icon {
  font-size: 24px;
}

footer {
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}
