* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
  color: #ccc;
}

body {
  background: url("./assets/bg-mobile.jpg") no-repeat top center/cover;
}

.container {
  display: flex;
  width: auto;
  max-width: 588px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  margin: 56px auto;
}

.profile {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profile img {
  width: 112px;
}

.profile p {
  font-weight: bold;
}

.links {
  width: 100%;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
}
.links ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.links li a {
  padding: 16px 24px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--stroke-color-dark-mode, rgba(255, 255, 255, 0.5));
  background: var(--surface-color-dark-mode, rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(4px);
  transition: background 0.5s;
}

.links li a:hover {
  padding: 16px 24px;
  border: 2px solid var(--stroke-color-dark-mode, rgba(255, 255, 255, 0.8));
  background: var(--surface-color-dark-mode, rgba(255, 255, 255, 0));
}
